<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  	<title>Matrix</title>
  	<meta name="description" content="A simple interface for performing operations with matrices">
  	<meta name="author" content="El3k0n">

    <link rel="stylesheet" href="/static/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    {% block style %}
    {% endblock %}
  </head>

  <body>
    {% block body %}
    {% endblock %}
  </body>

  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
</html>
